<div class="jumbotron mx-auto" style="max-width: 600px;">
  <h1 class="display-3 text-center">
    <i class="fa fa-2x fa-sad-tear"></i>
    Oops!
  </h1>
  <p class="lead text-center">That's a 404. You tried to load a page that does not exist.</p>
  <hr class="my-4">
  <p class="text-center">This can sometimes happen to the best of us. No need to panic. The logical next step would be to hit the Back button in the
    browser toolbar or to tap the Home button below.</p>
  <p class="text-center"><a class="btn btn-outline-primary btn-lg" href="/" role="button">Home</a></p>
</div>

