<section class="section">
  <div class="container is-fluid">
    <div class="notification">
      <h1 class="title">{{pageTitle}}</h1>
      <ul>
        {{#each quotes}}
        <li>{{author}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
